.panel-default > .panel-heading {
  background: #7b0f32;
  color : white;
  
}

.btn-primary {
    background: #7b0f32;
    color: white;
}

/*.nav-tabs{
  background-color:#7b0f32;
  color: white;
  
}

.nav-tabs > li > a{
  border: medium none;
}*/
